.gallery {
    min-width: 100%;
}

.gallery__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.gallery__card {
    min-width: 100%;
    min-height: 1024px;
    background-color: rgb(255, 227, 227);
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: grayscale();
}

.gallery__counter {
    position: absolute;
    top: 30px;
    left: 30px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    z-index: 2;
}

.gallery__text-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 1024px;
    z-index: 1;
    background-color: rgba(255, 245, 0, 0.50);
    opacity: 0;
    transition: 0.3s ease-in-out;
    box-sizing: border-box;
    padding: 589px 15px 0;


}

.gallery__text-container:hover {
    opacity: 100;
}

.gallery__image-title {
    color: #FFF;
    font-family: Montserrat;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.gallery__image-subtitle {
    color: #FFF;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: block;
}

.gallery__card::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    transition: background-color 0.3s ease-in-out;
}

.gallery__card:hover::before {
    /* background-color: rgba(255, 245, 0, 0.50); */
}